

.kodfun-galeri > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(.25, .4, 45, 1.4) ;
  
  }
  
  .kodfun-galeri > div:before {
  flex: 5;
  }
  
  
  
  .kodfun-galeri {
    display: flex;
    height: 20rem;
    overflow: hidden;
  }
  
  .kodfun-galeri > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .8s cubic-bezier(.25, .4, 45, 1.4);
  }
  
  .kodfun-galeri > div:hover {
    transform: scale(1.2);
    flex-grow: 1;
    cursor: pointer;
  }
  
  .kodfun-galeri > div:not(:hover) {
    opacity: 0.5;
  }
  
  .kodfun-galeri > div:not(:hover) ~ div {
    opacity: 0.5;
  }
  
  